{% extends "app/base.html" %}
{% load static %}

{% block contenido %}
		<!-- Begin intro -->
<div class="section-bgc intro">
    <div class="intro-slider">
        <div class="intro-item" style="background-image: url({% static 'assets/img/redfd.png' %})">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="intro-content">
                            <div class="section-heading shm-none">
                                <div class="section-subheading">Cada dia mejorando </div>
                                <h1>Reddit </h1>
                                <p class="section-desc">una plataforma social, la cual cuenta en la actualidad con más
                                     de 52 millones de usuarios activos a nivel mundial. En Reddit el formato es como un foro de 
                                    noticias sociales, donde el contenido se selecciona y se difunde por los mismos usuarios</p>
                            </div>
                            <div class="wrap-btn intro-btns">
                                <a href="{% static 'https://www.templatemonster.com/website-templates/pathsoft-it-solutions-for-your-business-services-website-template-83414.html' %}" class="btn btn-with-icon btn-small ripple">
                                    <span>Continuar Leyendo</span>
                                    <svg class="btn-icon-right" viewBox="0 0 13 9" width="13" height="9"><use xlink:href="{% static 'assets/img/sprite.svg#arrow-right' %}"></use></svg>
                                </a>
                                <a href="contact-us.html" class="btn btn-with-icon btn-border btn-small ripple">
                                    <span>Descargar</span>
                                    <svg class="btn-icon-right" viewBox="0 0 13 9" width="13" height="9"><use xlink:href="{% static 'assets/img/sprite.svg#arrow-right' %}"></use></svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- End intro -->

			<!-- Begin services -->

</section><!-- End services -->

			<!-- Begin advantages -->
<section class="section section-bgc">
    <div class="container">
        <div class="row items">
            <div class="col-12">
                <div class="section-heading heading-center">
                    <div class="section-subheading">Recomendaciones</div>
                    <h2>Servicios</h2>
                </div> 
            </div>
            <div class="col-lg-4 col-md-6 col-12 item">
                <div class="ini">
                    <div class="ini-count">01</div>
                    <div class="ini-info">
                        <h3 class="ini-heading item-heading-large">Nuevos Usuarios</h3>
                        <div class="ini-desc">
                            <p>Cuando los usuarios son nuevos, la única información que tenemos sobre ellos es su 
                                 general. Por eso, cuando descargas la aplicación para móvil de Reddit lo primero que hacemos
                                  es mostrar contenido útil para esa ubicación</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 item">
                <div class="ini">
                    <div class="ini-count">02</div>
                    <div class="ini-info">
                        <h3 class="ini-heading item-heading-large">Permiso de Ubicacion</h3>
                        <div class="ini-desc">
                            <p>Solo usamos la ubicación general, normalmente la ciudad, basada en tu dirección IP.Actualmente no tenemos motivos para capturar o utilizar
                                 tu ubicación exacta, pero si se nos ocurre alguna función increíble que la requiera, te pediremos permiso para usarla.  </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 item">
                <div class="ini">
                    <div class="ini-count">03</div>
                    <div class="ini-info">
                        <h3 class="ini-heading item-heading-large">Anuncios</h3>
                        <div class="ini-desc">
                            <p>los anuncios la selección no está individualizada. Permitimos que los anunciantes especifiquen un público objetivo basándose en categorías
                                 que se corresponden con temas y comunidades del sitio</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 item">
                <div class="ini">
                    <div class="ini-count">04</div>
                    <div class="ini-info">
                        <h3 class="ini-heading item-heading-large">Contenido</h3>
                        <div class="ini-desc">
                            <p>El contenido de tu feed se personaliza en función de tu actividad individual, con la excepción de las comunidades que consideramos
                                 delicadas, como las que tratan sobre religión, raza, etnia, género u orientación sexual.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 item">
                <div class="ini">
                    <div class="ini-count">05</div>
                    <div class="ini-info">
                        <h3 class="ini-heading item-heading-large">privacidad<br> </h3>
                        <div class="ini-desc">
                            <p>Las apps necesitan el permiso explícito de los usuarios para acceder a su identificador de dispositivos iOS, una ID única asignada por Apple, que realiza 
                                un seguimiento de la actividad  </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 item">
                <div class="ini">
                    <div class="ini-count">06</div>
                    <div class="ini-info">
                        <h3 class="ini-heading item-heading-large">Utilizar identificador </h3>
                        <div class="ini-desc">
                            <p>Las preferencias de privacidad de Reddit te permiten controlar qué anuncios
                                 o recomendaciones ves en Reddit según datos como tu ubicación o información que Reddit obtenga de anunciantes externos. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End advantages -->

			<!-- Begin counter section -->
<section class="section">
    <div class="container">
        <div class="row spincrement-container">
            <div class="col-xl-5 offset-xl-2 col-lg-6 offset-lg-1 col-12">
                <div class="main-counter">
                    <div class="main-counter-item">
                        <div class="main-counter-item-center">
                            <div>
                                <div class="main-counter-numb spincrement" data-from="0" data-to="10">0</div>
                                <div class="main-counter-heading">Años <br> de experiencia</div>
                            </div>
                        </div>
                        <div class="main-counter-item-circ"></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 offset-xl-1 col-lg-3 offset-lg-1 col-12 counter-items items">
                <div class="counter-item item">
                    <div class="counter-item-numb"><span class="spincrement" data-from="0" data-to="30000">0</span>K</div>
                    <p class="counter-item-heading">Me gusta</p>
                </div>
                <div class="counter-item item">
                    <div class="counter-item-numb spincrement" data-from="0" data-to="40000">0</div>
                    <p class="counter-item-heading">de mas consultas</p>
                </div>
                <div class="counter-item item">
                    <div class="counter-item-numb"><span class="spincrement" data-from="0" data-to="465456">0</span>K</div>
                    <p class="counter-item-heading">Votos</p>
                </div>
            </div>
        </div>
    </div>
</section><!-- End counter section -->

			
               
                </div><!-- End pricing item -->
            </div>
        </div>
    </div>
</div>

			<!-- Begin reviews -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading heading-center">
                    <div class="section-subheading">OPINIONES DE NUESTROS CLIENTES</div>
                    <h2>Opiniones de usuarios</h2>
                </div> 
            </div>
            <div class="col-lg-4 col-md-6 col-12 item">
                <!-- Begin reviews item -->
                <div class="reviews-item item-style">
                    <div class="reviews-item-header">
                        <div class="reviews-item-img">
                            <img data-src="{% static 'assets/img/auth-img-1.jpg' %}" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
                        </div>
                        <div class="reviews-item-info">
                            <h4 class="reviews-item-name item-heading">Catherine Williams</h4>
                            <div class="reviews-item-position">Suscribtor</div>
                        </div>
                    </div>
                    <div class="reviews-item-text">
                        <p>Creo que el término “patriarcado” está mal definido hoy en día. Se cree que se relaciona al 100% con los hombres y creo que no es así. Sino a un sistema que ejerce presión a
                             mujeres para cumplir ciertos estándares, pero en el cual está constituido por hombres y mujeres (mayoritariamente por hombres).</p>
                    </div>
                </div><!-- End reviews item -->
            </div>
            <div class="col-lg-4 col-md-6 col-12 item">
                <!-- Begin reviews item -->
                <div class="reviews-item item-style">
                    <div class="reviews-item-header">
                        <div class="reviews-item-img">
                            <img data-src="{% static 'assets/img/auth-img-2.jpg' %}" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
                        </div>
                        <div class="reviews-item-info">
                            <h4 class="reviews-item-name item-heading">Ruperto Camacho</h4>
                            <div class="reviews-item-position">Suscribtor</div>
                        </div>
                    </div>
                    <div class="reviews-item-text">
                        <p>Creo que el término “patriarcado” está mal definido hoy en día. Se cree que se relaciona al 100% con los hombres y creo que no es así. Sino a un sistema que ejerce presión a mujeres 
                            para cumplir ciertos estándares, pero en el cual está constituido por hombres y mujeres (mayoritariamente por hombres).</p>
                    </div>
                </div><!-- End reviews item -->
            </div>
            <div class="col-lg-4 col-md-12 col-12 item">
                <!-- Begin reviews item -->
                <div class="reviews-item item-style">
                    <div class="reviews-item-header">
                        <div class="reviews-item-img">
                            <img data-src="{% static 'assets/img/auth-img-3.jpg' %}" class="lazy" src="'data: image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
                        </div>
                        <div class="reviews-item-info">
                            <h4 class="reviews-item-name item-heading">Samantha Brown</h4>
                            <div class="reviews-item-position">Suscribtor</div>
                        </div>
                    </div>
                    <div class="reviews-item-text">
                        <p>Entonces a raíz de la marcha pasada (8 de marzo), el palacio nacional puso una muralla, literal un muro alrededor del mismo (se infiere
                             que para evitar cualquier tipo de vandalización del palacio por parte de las mujeres que marcharon).</p>
                    </div>
                </div><!-- End reviews item -->
            </div>
        </div>
    </div>
</section><!-- End reviews -->

			<!-- Begin latest news -->
<section class="section section-bgc">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading heading-center">
                    <div class="section-subheading">Mas Informacion</div>
                    <h2>Noticias Recientes</h2>
                </div> 
            </div>
            <div class="col-lg-4 col-md-6 col-12 item">
                <!-- Begin news item -->
                <article class="news-item item-style">
                    <a href="news-post.html" class="news-item-img">
                        <img data-src="{% static 'assets/img/marcha.png' %}" class="lazy" src="{% static 'data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=' %}" alt="">
                    </a>
                    <div class="news-item-info">
                        <div class="news-item-date">08/03/2022</div>
                        <h3 class="news-item-heading item-heading">
                            <a href="{% url 'Noticias Publicadas' %}" title="Benefits Of Async/Await">Noticias de 8M</a>
                        </h3>
                        <div class="news-item-desc">
                            <p>El Día Internacional de la Mujer, anteriormente denominado Día Internacional de la Mujer Trabajadora, ​​ conmemora cada 8 de marzo la 
                                lucha de las mujeres por su participación en la sociedad y su desarrollo íntegro como persona, en pie de igualdad con el hombre.</p>
                        </div>
                    </div>
                </article><!-- End news item -->
            </div>
            <div class="col-lg-4 col-md-6 col-12 item">
                <!-- Begin news item -->
                <article class="news-item item-style">
                    <a href="news-post.html" class="news-item-img">
                        <img data-src="{% static 'assets/img/asesi.png' %}" class="lazy" src="{% static 'data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=' %}" alt="">
                    </a>
                    <div class="news-item-info">
                        <div class="news-item-date">05/01/2022</div>
                        <h3 class="news-item-heading item-heading">
                            <a href="{% url 'Noticias Publicadas' %}" title="Key Considerations Of IPaaS">Balacera recientes </a>
                        </h3>
                        <div class="news-item-desc">
                            <p> Balaceras y asesinatos ¿Qué está pasando en Michoacán? Desde hace unos 
                                días la violencia en el estado de Michoacán ha alcanzado niveles muy graves. Acá te contamos</p>
                        </div>
                    </div>
                </article><!-- End news item -->
            </div>
            <div class="col-lg-4 col-md-6 col-12 item">
                <!-- Begin news item -->
                <article class="news-item item-style">
                    <a href="news-post.html" class="news-item-img">
                        <img data-src="{% static 'assets/img/partdio.png' %}" class="lazy" src="{% static 'data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=' %}" alt="">
                    </a>
                    <div class="news-item-info">
                        <div class="news-item-date">01/01/2021</div>
                        <h3 class="news-item-heading item-heading">
                            <a href="{% url 'Noticias Publicadas' %}" title="Hibernate Query Language">Partido</a>
                        </h3>
                        <div class="news-item-desc">
                            <p>Así fue la pelea que desencadenó la invasión de cancha en Querétaro vs Atlas en La Corregidora
                                El partido entre los Gallos Blancos y lo rojinegros fue suspendido debido a la violencia en el inmueble</p>
                        </div>
                    </div>
                </article><!-- End news item -->
            </div>
            <div class="col-12">
                <div class="section-btns justify-content-center">
                    <a href="{% url 'Noticias' %}" class="btn btn-with-icon btn-w240 ripple">
                        <span>Seguir Viendo</span>
                        <svg class="btn-icon-right" viewBox="0 0 13 9" width="13" height="9"><use xlink:href="{% static 'assets/img/sprite.svg#arrow-right' %}"></use></svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section><!-- End latest news -->

		</div>

		<a class="bff d-none d-md-block" href="{% static 'https://www.templatemonster.com/website-templates/pathsoft-it-solutions-for-your-business-services-website-template-83414.html' %}">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="bff-container">
                   
                        <svg class="btn-icon-right" viewBox="0 0 13 9" width="13" height="9"><use xlink:href="{% static 'assets/img/sprite.svg#arrow-right' %}"></use></svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</a>
{% endblock %}

