{% extends "app/base.html" %}
{% load static %}

{% block contenido %}
			<!-- Begin bread crumbs -->
			<nav class="bread-crumbs">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<ul class="bread-crumbs-list">
								<li>
									<a href="{% url 'Inicio' %}">Home</a>
									<i class="material-icons md-18">chevron_right</i>
								</li>
							
								<li><a href="#!">Política de privacidad</a></li>
							</ul>
						</div>
					</div>
				</div>
			</nav><!-- End bread crumbs -->

			<div class="section">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="section-heading heading-center">
								<h1>Política de privacidad</h1>
							</div>
							<div class="content">
								<p>Fecha de entrada en vigor: 16 de marzo de 2022</p>
								<p>PathSoft ("nosotros", "nosotros" o "nuestro") opera el sitio web (el "Servicio").</p>
								<p>Esta página le informa de nuestras políticas con respecto a la recopilación, el uso y la divulgación de datos personales cuando utiliza
									nuestro Servicio y las opciones que ha asociado con esos datos. Nuestra Política de Privacidad para PathSoft se crea con
									la ayuda.</p>
							
								<p>Utilizamos sus datos para proporcionar y mejorar el Servicio. Al utilizar el Servicio, usted acepta la recopilación y el uso de
									información de acuerdo con esta política. A menos que se defina lo contrario en esta Política de privacidad, los términos utilizados en esta
									La Política de Privacidad tiene los mismos significados que en nuestros Términos y Condiciones, accesibles desde el sitio</p>
							
							
								<h2>Recopilación y uso de información</h2>
							
								<p>Recopilamos varios tipos diferentes de información para diversos fines para proporcionarle y mejorar nuestro Servicio.
									.
								</p>
							
								<h3>Tipos de datos recopilados</h3>
							
								<h4>Datos personales</h4>
							
								<p>Al utilizar nuestro Servicio, podemos pedirle que nos proporcione cierta información de identificación personal que puede
									ser utilizado para contactarlo o identificarlo ("Datos personales"). La información de identificación personal puede incluir, pero es
									no se limita a:</p>
							
								<ul>
									<li>Dirección de correo electrónico</li>
									<li>Dirección, Estado, Provincia, Código postal, Ciudad</li>
									<li>Cookies y datos de uso</li>
								</ul>
							
								<h4>Datos de uso</h4>
							
								<p>También podemos recopilar información sobre cómo se accede y se utiliza el Servicio ("Datos de uso"). Estos Datos de Uso pueden incluir
									información como la dirección de protocolo de Internet de su computadora (por ejemplo, dirección IP), tipo de navegador, versión del navegador,
									las páginas de nuestro Servicio que visita, la hora y fecha de su visita, el tiempo dedicado a esas páginas, único
									identificadores de dispositivos y otros datos de diagnóstico.</p>
							
								<h4>Datos de seguimiento y cookies</h4>
								<p>Utilizamos cookies y tecnologías de seguimiento similares para rastrear la actividad en nuestro Servicio y mantener ciertas
									información.</p>
								<p>Las cookies son archivos con una pequeña cantidad de datos que pueden incluir un identificador único anónimo. Las cookies se envían a
									su navegador desde un sitio web y almacenado en su dispositivo. Las tecnologías de seguimiento también utilizadas son balizas, etiquetas y
									scripts para recopilar y rastrear información y para mejorar y analizar nuestro Servicio.</p>
									<p>Puede indicarle a su navegador que rechace todas las cookies o que indique cuándo se envía una cookie. Sin embargo, si usted
										Si no acepta cookies, es posible que no pueda utilizar algunas partes de nuestro Servicio.</p>
										<p>Ejemplos de Cookies que utilizamos:</p>
										<ul>
										<li><strong>Cookies de sesión.</strong> Utilizamos cookies de sesión para operar nuestro Servicio.</li>
										<li><strong>Cookies de preferencia.</strong> Utilizamos cookies de preferencia para recordar sus preferencias y varios
										configuración.</li>
										<li><strong>Cookies de seguridad.</strong> Utilizamos cookies de seguridad por motivos de seguridad.</li>
										</ul>
							
										<h2>Uso de datos</h2>

										<p>PathSoft utiliza los datos recopilados para varios fines:</p>
										<ul>
										<li>Para proporcionar y mantener el Servicio</li>
										<li>Para notificarle sobre cambios en nuestro Servicio</li>
										<li>Para permitirle participar en funciones interactivas de nuestro Servicio cuando elija hacerlo</li>
										<li>Para brindar atención y soporte al cliente</li>
										<li>Para proporcionar análisis o información valiosa para que podamos mejorar el Servicio</li>
										<li>Para monitorear el uso del Servicio</li>
										<li>Para detectar, prevenir y abordar problemas técnicos</li>
										</ul>
										<h2>Transferencia de datos</h2>
										<p>Su información, incluidos los datos personales, puede transferirse y mantenerse en computadoras ubicadas fuera
										de su estado, provincia, país u otra jurisdicción gubernamental donde las leyes de protección de datos pueden diferir
										que los de su jurisdicción.</p>
										<p>Si se encuentra fuera de los Estados Unidos y elige proporcionarnos información, tenga en cuenta que transferimos
										los datos, incluidos los Datos personales, a Estados Unidos y procesarlos allí.</p>
										<p>Su consentimiento a esta Política de privacidad seguido de su envío de dicha información representa su acuerdo con
										esa transferencia.</p>
										<p>PathSoft tomará todas las medidas razonablemente necesarias para garantizar que sus datos se traten de forma segura y de conformidad
										con esta Política de privacidad y no se realizará ninguna transferencia de sus Datos personales a una organización o país
										a menos que existan controles adecuados, incluida la seguridad de sus datos y otra información personal.
										</p>
							
										<h2>Divulgación de datos</h2>

										<h3>Requisitos legales</h3>
										<p>PathSoft puede divulgar sus Datos personales de buena fe cuando considere que esta acción es necesaria para:</p>
										<ul>
										<li>Para cumplir con una obligación legal</li>
										<li>Para proteger y defender los derechos o la propiedad de PathSoft</li>
										<li>Para prevenir o investigar posibles irregularidades en relación con el Servicio</li>
										<li>Para proteger la seguridad personal de los usuarios del Servicio o del público</li>
										<li>Para protegerse contra la responsabilidad legal</li>
										</ul>
							
										<h2>Seguridad de los datos</h2>
										<p>La seguridad de sus datos es importante para nosotros, pero recuerde que ningún método de transmisión a través de Internet, o
										método de almacenamiento electrónico es 100% seguro. Si bien nos esforzamos por utilizar medios comercialmente aceptables para proteger
										sus Datos Personales, no podemos garantizar su absoluta seguridad.</p>
										
										<h2>Proveedores de servicios</h2>
										<p>Podemos emplear empresas e individuos de terceros para facilitar nuestro Servicio ("Proveedores de servicios"), para proporcionar
										el Servicio en nuestro nombre, para realizar servicios relacionados con el Servicio o para ayudarnos a analizar cómo nuestro Servicio es
										usado.</p>
										<p>Estos terceros tienen acceso a sus Datos personales solo para realizar estas tareas en nuestro nombre y están obligados
										no divulgarla ni utilizarla para ningún otro fin.</p>
										
										<h3>Análisis</h3>
										<p>Podemos utilizar Proveedores de Servicios de terceros para monitorear y analizar el uso de nuestro Servicio.</p>
										<ul>
									<li>
										<p><strong>Clicky</strong></p>
									<p>Clicky es un servicio de análisis web. Lea la Política de Privacidad de Clicky</p>
									</li>
									<li>
									<p><strong>Contador de estadísticas</strong></p>
									<p>Statcounter es una herramienta de análisis de tráfico web. Puede leer la Política de Privacidad de Statcounter</p>
									</li>
									</ul>
									<h2>Enlaces a otros sitios</h2>
									<p>Nuestro Servicio puede contener enlaces a otros sitios que no son operados por nosotros. Si hace clic en el enlace de un tercero, usted
									será dirigido al sitio de ese tercero. Le recomendamos encarecidamente que revise la Política de privacidad de cada sitio.
									visitas.</p>
									<p>No tenemos control ni asumimos ninguna responsabilidad por el contenido, las políticas de privacidad o las prácticas de terceros.
									sitios o servicios de fiestas.</p>
									<h2>Privacidad infantil</h2>
									<p>Nuestro Servicio no se dirige a ninguna persona menor de 18 años ("Niños").</p>
									<p>No recopilamos a sabiendas información de identificación personal de ninguna persona menor de 18 años. Si usted es un
									padre o tutor y sabe que sus hijos nos han proporcionado datos personales, contáctenos.
									Si nos damos cuenta de que hemos recopilado Datos personales de niños sin verificación del consentimiento de los padres,
									tomamos medidas para eliminar esa información de nuestros servidores.</p>
									<h2>Cambios a esta Política de Privacidad</h2>
									<p>Podemos actualizar nuestra Política de privacidad de vez en cuando. Le notificaremos de cualquier cambio mediante la publicación de la nueva Privacidad
									Política en esta página.</p>
									<p>Le informaremos por correo electrónico y/o mediante un aviso destacado en nuestro Servicio, antes de que el cambio entre en vigencia.
									y actualice la "fecha de vigencia" en la parte superior de esta Política de privacidad.</p>
									<p>Le recomendamos que revise esta Política de privacidad periódicamente para ver si ha habido cambios. Los cambios a esta Política de Privacidad son
									efectivos cuando se publican en esta página.</p>
									<h2>Contáctenos</h2>
									<p>Si tiene alguna pregunta sobre esta Política de privacidad, contáctenos:</p>
									<ul>
									<li>Por correo electrónico: Yazmin00c@gmail.com</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<a class="bff d-none d-md-block" href="https://www.templatemonster.com/website-templates/pathsoft-it-solutions-for-your-business-services-website-template-83414.html">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="bff-container">
                    <p></p>
                    <div class="btn btn-border btn-small">
                        <span></span>
                        <svg class="btn-icon-right" viewBox="0 0 13 9" width="13" height="9"><use xlink:href="assets/img/sprite.svg#arrow-right"></use></svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</a>
{% endblock %}
