{% extends "app/base.html" %}
{% load static %}

{% block contenido %}

			<!-- Begin bread crumbs -->
			<nav class="bread-crumbs">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<ul class="bread-crumbs-list">
								<li>
									<a href="{% url 'Inicio' %}">Inicio</a>
									<i class="material-icons md-18">chevron_right</i>
								</li>
								<li>
									<a href="{% url 'Servicios' %}">Servicios</a>
									<i class="material-icons md-18">chevron_right</i>
								</li>
								<li><a href="#!">Comentarios</a></li>
							</ul>
						</div>
					</div>
				</div>
			</nav><!-- End bread crumbs -->

			<div class="section">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="section-heading heading-center">
								<h1>Comentarios</h1>
							</div>
							<div class="content">
								<div class="img-style">
									<img src="assets/img/subheader-corporate.png" alt="">
								</div>
								<p>mbién consigues karma por los comentarios en publicaciones de otros. karma en reddit</p>
								<p>Reddit es diferente a otras redes sociales de una manera muy especial. El público de Reddit está preparado e interesado en aprender y tener conversaciones profundas entre sí sobre cualquier tema.

									Amarás Reddit porque los usuarios seleccionan por ellos mismos los temas en los que quieren involucrarse dentro de varias comunidades llamadas «subreddits». A diferencia de Facebook, por ejemplo, donde el contenido de marca puede parecer intrusivo para los usuarios que usan esta red social. </p>
								<h5>Key Features</h5>
								<ul>
									<li>Debes tener cuidado con tus comentarios: los usuarios pueden ser muy cerrados y se irán contra ti si opinas diferente.</li>
									<li>La eliminación de contenido depende del criterio de los moderadores: los encargados de cada subreddit deciden si tu aporte se queda o no en la red social.</li>
									<li>Los usuarios son el centro de la plataforma: todo el contenido está construido y regulado por los mismos usuarios. </li>
									<li>¡Reddit es gratis!: a pesar de que cuente con un plan de suscripción, prácticamente todas las funciones de Reddit están disponibles de forma gratuita. </li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

			
						</div>
					</div>
				</div>
			</div>

		</div>

		<a class="bff d-none d-md-block" href="https://www.templatemonster.com/website-templates/pathsoft-it-solutions-for-your-business-services-website-template-83414.html">
    <div class="container">
        <div class="row">
            <div class="col">
                
                </div>
            </div>
        </div>
    </div>
</a>

{% endblock %}