{% extends "app/base.html" %}
{% load static %}

{% block contenido %}

			<!-- Begin bread crumbs -->
			<nav class="bread-crumbs">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<ul class="bread-crumbs-list">
								<li>
									<a href="{% url 'Inicio' %}">Inicio</a>
									<i class="material-icons md-18">chevron_right</i>
								</li>
								<li>
									<a href="{% url 'Servicios' %}">Servicios</a>
									<i class="material-icons md-18">chevron_right</i>
								</li>
								<li><a href="#!">Reacciones</a></li>
							</ul>
						</div>
					</div>
				</div>
			</nav><!-- End bread crumbs -->

			<div class="section">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="section-heading heading-center">
								<h1>Reacciones</h1>
							</div>
							<div class="content">
								<div class="img-style">
									<img src="assets/img/subheader-corporate.png" alt="">
								</div>
								<p>Reddit está trabajando para agregar más contenido de video que sea generado por el usuario a su plataforma, por lo que tiene planes de introducir herramientas de edición de video que son similares a TikTok, sin embargo, no pretende ser competidor directo de esta red social.

									El objetivo es crear herramientas que permitan con la misión de que los usuarios participen en discusiones sobre diferentes temas, ya que la mayoría de estas son escritas, pero la llegada de reacciones en video podría agregar una capa nueva a las conversaciones que se hacen en línea.</p>
								<p>este sitio web y foro de noticias buscará comunidades en particular donde pueda poner a prueba la función de video y que podrían encajar bien con el producto, pero debes tomar en cuenta que si eres usuario de Reddit, las pruebas comunitarias todavía no tienen una de prueba.</p>
								<h5>¡¡Conoce!!</h5>
								
						</div>
					</div>
				</div>
			</div>

		</div>

		<a class="bff d-none d-md-block" href="https://www.templatemonster.com/website-templates/pathsoft-it-solutions-for-your-business-services-website-template-83414.html">
    <div class="container">
        <div class="row">
            <div class="col">
               
                </div>
            </div>
        </div>
    </div>
</a>

{% endblock %}