{% extends "app/base.html" %}
{% load static %}

{% block contenido %}

			<!-- Begin bread crumbs -->
			<nav class="bread-crumbs">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<ul class="bread-crumbs-list">
								<li>
									<a href="{% url 'Inicio' %}">Inicio</a>
									<i class="material-icons md-18">chevron_right</i>
								</li>
								<li>
									<a href="{% url 'Servicios' %}">Servicios</a>
									<i class="material-icons md-18">chevron_right</i>
								</li>
								<li><a href="#!">Imagenes</a></li>
							</ul>
						</div>
					</div>
				</div>
			</nav><!-- End bread crumbs -->

			<div class="section">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="section-heading heading-center">
								<h1>imagenes</h1>
							</div>
							<div class="content">
								<div class="img-style">
									<img src="assets/img/subheader-corporate.png" alt="">
								</div>
								<p>Dentro de reddit las imaenes son una de las importantes En Reddit el formato es como un foro de noticias sociales, donde el contenido se selecciona y se difunde por los mismos usuarios.</p>
								<p> Los usuarios aportan contenido inteligente e interesante, además, los comentarios suelen ser un debate entre personas informadas  Dentro de la plataforma los usuarios envían publicaciones para que otros usuarios pueden votar a favor o en contra, según sus preferencias.</p>
								
						
						</div>
					</div>
				</div>
			</div>

		</div>

		<a class="bff d-none d-md-block" href="https://www.templatemonster.com/website-templates/pathsoft-it-solutions-for-your-business-services-website-template-83414.html">
    <div class="container">
        <div class="row">
            <div class="col">
                
                </div>
            </div>
        </div>
    </div>
</a>

{% endblock %}