{% extends "app/base.html" %}
{% load static %}

{% block contenido %}

			<!-- Begin bread crumbs -->
			<nav class="bread-crumbs">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<ul class="bread-crumbs-list">
								<li>
									<a href="{% url 'Inicio' %}">Inicio</a>
									<i class="material-icons md-18">chevron_right</i>
								</li>
								<li>
									<a href="{% url 'Servicios' %}">Servicios</a>
									<i class="material-icons md-18">chevron_right</i>
								</li>
								<li><a href="#!">Votos</a></li>
							</ul>
						</div>
					</div>
				</div>
			</nav><!-- End bread crumbs -->

			<div class="section">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="section-heading heading-center">
								<h1>Votos</h1>
							</div>
							<div class="content">
								<div class="img-style">
									<img src="assets/img/subheader-corporate.png" alt="">
								</div>
								<p>Hablamos de una plataforma social en la que los usuarios envían publicaciones que otros usuarios pueden votar -a favor o en contra- según sus preferencias. Si una publicación recibe muchos votos, sube en la clasificación de Reddit y, por consiguiente, más gente puede verla</p>
								<p>Reddit es un agregador de contenido determinado por la comunidad. Hablamos de una plataforma social en la que los usuarios envían publicaciones que otros usuarios pueden votar -a favor o en contra- según sus preferenciasFuncionamiento. El sitio tiene áreas de discusión donde los usuarios pueden debatir los enlaces enviados y votar a favor o en contra de los comentarios de otros usuarios. ... Los desarrolladores de Reddit han diseñado un sistema anti-spam que funciona a través de los avisos de los usuarios.</p>

						</div>
					</div>
				</div>
			</div>

		</div>

		<a class="bff d-none d-md-block" href="https://www.templatemonster.com/website-templates/pathsoft-it-solutions-for-your-business-services-website-template-83414.html">
    <div class="container">
        <div class="row">
            <div class="col">
                
                </div>
            </div>
        </div>
    </div>
</a>

{% endblock %}