{% extends "app/base.html" %}
{% load static %}

{% block contenido %}

			<!-- Begin bread crumbs -->
			<nav class="bread-crumbs">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<ul class="bread-crumbs-list">
								<li>
									<a href="{% url 'Inicio' %}">Inicio</a>
									<i class="material-icons md-18">chevron_right</i>
								</li>
								<li>
									<a href="{% url 'Servicios' %}">Servicios</a>
									<i class="material-icons md-18">chevron_right</i>
								</li>
								<li><a href="#!">Vistas</a></li>
							</ul>
						</div>
					</div>
				</div>
			</nav><!-- End bread crumbs -->

			<div class="section">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="section-heading heading-center">
								<h1>Vistas</h1>
							</div>
							<div class="content">
								<div class="img-style">
									<img src="assets/img/subheader-corporate.png" alt="">
								</div>
								<p>La vista de nuestra app se creativa y llamativa de manera que la gente no tenga problema en visutar y que cada apartado se 
									vea de manera formas y que la gente pueda enterder su contenido completo</p>
								<p>El contenido para Reddit tiene que ser específico y valioso para esos usuarios; no para cualquiera. Si tu publicación no tiene el éxito
									 que esperas, no te desanimes; a veces ocurre. Apunta a tener algunos comentarios y votos positivos Esta plataforma es una mezcla muy interesante
									  de noticias, links y herramientas de social media; pero, sobre todo, un lugar de encuentro para comunidades muy fuertes Es un mundo sin explorar 
									  que puede resultar muy atractivo para tu negocio, pero debes tener cuidado y estudiar sus características particulares para dar con la estrategia correcta. </p>
								<h5>Recomendaciones para las vistas</h5>
								<ul>
									<li>En cuanto al material, procura apelar a la curiosidad: debes intentar que tu post sea atractivo para ganar votos positivos.</li>
									<li>Cada publicación recibe votos positivos «upvote» o negativos «downvote».</li>
									<li>A la hora de compartir links, no es necesario que publiques la versión acortada que utilizarías para Twitter: los usuarios desconfían de los links cortos.</li>
									<li>Puedes crear una cuenta sin verificar tu correo, pero lo más recomendable es que lo hagas. A medida que interactúas, comienzas a construir tu Karma.</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

			
						</div>
					</div>
				</div>
			</div>

		</div>

		<a class="bff d-none d-md-block" href="https://www.templatemonster.com/website-templates/pathsoft-it-solutions-for-your-business-services-website-template-83414.html">
    <div class="container">
        <div class="row">
            <div class="col">
                
                </div>
            </div>
        </div>
    </div>
</a>

{% endblock %}