{% extends "app/base.html" %}
{% load static %}

{% block contenido %}

			<!-- Begin bread crumbs -->
			<nav class="bread-crumbs">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<ul class="bread-crumbs-list">
								<li>
									<a href="{% url 'Inicio' %}">Home</a>
									<i class="material-icons md-18">Unidades</i>
								</li>
								<li><a href="#!">resolver</a></li>
							</ul>
						</div>
					</div>
				</div>
			</nav><!-- End bread crumbs -->

			<div class="section">
				<div class="container">
					<div class="row items">
						<div class="col-12">
							<div class="section-heading heading-center">
								<div class="section-subheading">Soluciones de tu </div>
								<h1>Unidad</h1>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-12 item">
							<!-- Begin icon item -->
							<a href="{% url 'Soluciones' %}" class="iitem item-style">
								<div class="iitem-icon">
									<i class="material-icons material-icons-outlined md-48">corporate_fare</i>
								</div>
								<div class="iitem-icon-bg">
									<i class="material-icons material-icons-outlined">corporate_fare</i>
								</div>
								<h2 class="iitem-heading item-heading-large">Vistas</h2>
								<div class="iitem-desc">La vista de nuestra app se creativa y llamativa de manera que la gente no tenga problema en visutar y que cada apartado se 
									vea de manera formas y que la gente pueda enterder su contenido completo
								</div>
							</a>
						</div>
						<div class="col-lg-4 col-md-6 col-12 item">
							<!-- Begin icon item -->
							<a href="{% url 'Soluciones' %}" class="iitem item-style">
								<div class="iitem-icon">
									<i class="material-icons material-icons-outlined md-48">support_agent</i>
								</div>
								<div class="iitem-icon-bg">
									<i class="material-icons material-icons-outlined">support_agent</i>
								</div>
								<h2 class="iitem-heading item-heading-large">Comentarios</h2>
								<div class="iitem-desc">Verificar cantidad de los comentarios realizados y que estan en visualizacion
									rectificar los comentarios puestos y las opiniones de los usuarios visualizadores para encontrar alguanas opiniones de mejoras
								</div>
							</a>
						</div>
						<div class="col-lg-4 col-md-12 col-12 item">
							<!-- Begin icon item -->
							<a href="{% url 'Soluciones' %}" class="iitem item-style">
								<div class="iitem-icon">
									<i class="material-icons material-icons-outlined md-48">cloud_download</i>
								</div>
								<div class="iitem-icon-bg">
									<i class="material-icons material-icons-outlined">cloud_download</i>
								</div>
								<h2 class="iitem-heading item-heading-large">Descargas</h2>
								<div class="iitem-desc">Descargas se encarga de que este apartado en caso de que los usuariosdesen decargas cosas 
									puedan aserlo correctamente y sin ningun problema, esta app garantiza total funcionalidad
								</div>
							</a>
						</div>
						<div class="col-lg-4 col-md-6 col-12 item">
							<!-- Begin icon item -->
							<a href="{% url 'Soluciones' %}" class="iitem item-style">
								<div class="iitem-icon">
									<i class="material-icons material-icons-outlined md-48">laptop_mac</i>
								</div>
								<div class="iitem-icon-bg">
									<i class="material-icons material-icons-outlined">laptop_mac</i>
								</div>
								<h2 class="iitem-heading item-heading-large">Votos</h2>
								<div class="iitem-desc">Poder visualizar los votos que se realizar en estos apartados de noticias
									para saber que ls imagenes publicadas en las notvias son de tu total agrado 
								</div>
							</a>
						</div>
						<div class="col-lg-4 col-md-6 col-12 item">
							<!-- Begin icon item -->
							<a href="{% url 'Soluciones' %}" class="iitem item-style">
								<div class="iitem-icon">
									<i class="material-icons material-icons-outlined md-48">phone_android</i>
								</div>
								<div class="iitem-icon-bg">
									<i class="material-icons material-icons-outlined">phone_android</i>
								</div>
								<h2 class="iitem-heading item-heading-large">Reacciones</h2>
								<div class="iitem-desc">Proposito de la reaacion de la gente al mostrar qye alguna de las publicaciones fueron de su agrado en canales de comunicación tan poderosos que son capaces de influir en el proceso de compra de sus usuarios.
									 Un espacio paralelo, repleto de múltiples publicaciones y opiniones de usuarios hacia las marcas</div>
							</a>
						</div>
						<div class="col-lg-4 col-md-12 col-12 item">
							<!-- Begin icon item -->
							<a href="{% url 'Soluciones' %}" class="iitem item-style">
								<div class="iitem-icon">
									<i class="material-icons material-icons-outlined md-48">tv</i>
								</div>
								<div class="iitem-icon-bg">
									<i class="material-icons material-icons-outlined">tv</i>
								</div>
								<h2 class="iitem-heading item-heading-large">Carga de images</h2>
								<div class="iitem-desc">Que es esta aplicablese muestre manera clara cada una de las imagenes mostradas en cada noticia Publicadas
									y no tenga problemas de cargar pa que se puedan visualizar
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>

		</div>

		<a class="bff d-none d-md-block" href="https://www.templatemonster.com/website-templates/pathsoft-it-solutions-for-your-business-services-website-template-83414.html">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="bff-container">
                   
                        <svg class="btn-icon-right" viewBox="0 0 13 9" width="13" height="9"><use xlink:href="assets/img/sprite.svg#arrow-right"></use></svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</a>
{% endblock %}