{% extends "app/base.html" %}
{% load static %}

{% block contenido %}

			<!-- Begin bread crumbs -->
			<nav class="bread-crumbs">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<ul class="bread-crumbs-list">
								<li>
									<a href="{% url 'Inicio' %}">Inicio</a>
									<i class="material-icons md-18">chevron_right</i>
								</li>
								<li>
									<a href="{% url 'Servicios' %}">Servicios</a>
									<i class="material-icons md-18">chevron_right</i>
								</li>
								<li><a href="#!">Descargas</a></li>
							</ul>
						</div>
					</div>
					
				</div>
			</nav><!-- End bread crumbs -->

			<div class="section">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="section-heading heading-center">
								<h1>Descargas</h1>
							</div>
							<div class="content">
								<div class="img-style">
									<img src="assets/img/subheader-corporate.png" alt="">
								</div>
								<p>En todos apartados se puede reazlizar pasos de descargas, para poder descargar cosas de los que se ofrezca y se quiera descargar
									cada uno de los archivo que se descrgan se han descargado de manera correcta y expesifica sin ningun error al momento de poder 
									gestionarlo Descargas se encarga de que este apartado en caso de que los usuariosdesen decargas cosas 
									puedan aserlo correctamente y sin ningun problema, esta app garantiza total funcionalidad
								</p>
								<p></p>
								<h5>Pasos para descargar </h5>
								<ul>
									<li>Identificar la imagen o archivo a querer decargarse</li>
									<li>hubicar el boton de descarga</li>
									<li>descargar correctamente</li>
									<li>Esperar que complete la decarga</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Begin Pricing -->
			
						<div class="col-lg-4 col-md-12 col-12 item">
							
						</div>
					</div>
				</div>
			</div>

		</div>

		<a class="bff d-none d-md-block" href="https://www.templatemonster.com/website-templates/pathsoft-it-solutions-for-your-business-services-website-template-83414.html">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="bff-container">
                    <p>Get Full-Featured PathSoft Template</p>
                    <div class="btn btn-border btn-small">
                        <span>VIEW NOW</span>
                        <svg class="btn-icon-right" viewBox="0 0 13 9" width="13" height="9"><use xlink:href="assets/img/sprite.svg#arrow-right"></use></svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</a>

{% endblock %}