{% extends "app/base.html" %}
{% load static %}

{% block contenido %}
			<!-- Begin bread crumbs -->
			<nav class="bread-crumbs">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<ul class="bread-crumbs-list">
								<li>
									<a href="{% url 'Inicio' %}">Home</a>
									<i class="material-icons md-18">chevron_right</i>
								</li>
								<li><a href="#!">Resultados </a></li>
							</ul>
						</div>
					</div>
				</div>
			</nav><!-- End bread crumbs -->


				</div>
			</div>

			<section class="section">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="section-heading heading-center">
								<h2>Resultados de las reacciones</h2>
							</div>
							<div class="tabs tabs-vertical">
								<ul class="tabs-nav section-bgc">
									<li class="active">Vistas</li>
									<li>Comentarios</li>
									<li>Votos</li>
									<li>Compartir</li>
								</ul>
								<div class="tabs-container">
									<div class="tabs-item content active">
										<p>Las vistas sobre cada una de las publicaciones que has realizado en estos diagnóstico
											fueron de gran exito ya que la mayoria de los usuarios les agrado de manera generas
											y tubieron muchas vistas las noticias publicadas en estas semana hasta el dia de hoy.</p>
									</div>
									<div class="tabs-item content">
										<p>comentario es que gracias a los comentarios tu puedes mejorar en algo que isiste mal y mejorar 
											a ty misma como persona El comentario es la opinión u observación que tiene una persona sobre
											 algo o alguien o sobre un determinado tema</p>
									</div>
									<div class="tabs-item content">
										<p> voto es una condición necesaria para que un sistema político sea democrático. Hay gobiernos 
											autoritarios en los cuales las restricciones para la presentación de las candidaturas alcanzan 
											un grado que impide considerarlos democráticos. Las elecciones no se celebran exclusivamente en
											 sistemas políticos democráticos.</p>
									</div>
									<div class="tabs-item content">
										<p>Compartir nos ayuda a interaccionar con los demás y a lograr unas relaciones sanas y
											 satisfactorias. Cuando compartimos, no solo nos limitamos al objeto sino que también 
											 compartimos experiencia y vivencias. Compartir nos hace más humanos, ya que nos permite
											  preocuparnos por el otro y no solo por uno mismo.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="section">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="section-heading heading-center">
								<h2>Respuesta a tus comentarios</h2>
							</div>
							<div class="accordion">
								<div class="row gutters-default">
									<div class="col-lg-6 col-12">
										<ul class="accordion-list">
											<li class="accordion-item section-bgc">
												<div class="accordion-trigger">Como te parecio nuestras publicaciones?</div>
												<div class="accordion-content content">
													<p>Me paracen muy interesantes ya que son noticias exclusivas de 
														y recientes de acontesimientos realmente relevantes 
													</p>
												</div>
											</li>
											<li class="accordion-item section-bgc">
												<div class="accordion-trigger">Que te parece la calidad de las inamgenes?</div>
												<div class="accordion-content content">
													<p>Me parecen realmente de buena calidad se aprecia a ver exantamente la vista de las imagenes en las seccion de noticias</p>
												</div>
											</li>
											<li class="accordion-item section-bgc">
												<div class="accordion-trigger">Que tipo de noticias que has visto publicadas llama tu atencion?</div>
												<div class="accordion-content content">
													<p>Todas las noticias publicadas en estas secciones son realmente interesantes sobre todo ya sea como de infomacion 
														y la argumentacion y sus imagenes
													</p>
												</div>
											</li>
										</ul>
									</div>
									<div class="col-lg-6 col-12">
										<ul class="accordion-list">
											<li class="accordion-item section-bgc">
												<div class="accordion-trigger">Que otro tipo de noticiass te gustaria ver ?</div>
												<div class="accordion-content content">
													<p>Las noticias presentadas en su apartado son las que debes presentarse y esta perfecto que esas noticias se den a conocer todos los dias para personas que no tiene conociemto de ellos</p>
												</div>
											</li>
											<li class="accordion-item section-bgc">
												<div class="accordion-trigger">has votado a favor de alguna de nuestras publicaciones?</div>
												<div class="accordion-content content">
													<p>Si la publicacion mostrada es de mi agrado si reacciono a foavor votando a la imagen</p>
												</div>
											</li>
											<li class="accordion-item section-bgc">
												<div class="accordion-trigger">Tienes algun comentario que agregar?</div>
												<div class="accordion-content content">
													<p>Our templates do not include any additional scripts. Newsletter
														subscriptions, search fields, forums, image galleries (in HTML versions
														of Flash products) are inactive. Basic scripts can be easily added at
														www.TemplateTuning.com If you are not sure that the element you’re
														interested in is active please contact our Support Chat for
														clarification.</p>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

		</div>

		<a class="bff d-none d-md-block" href="https://www.templatemonster.com/website-templates/pathsoft-it-solutions-for-your-business-services-website-template-83414.html">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="bff-container">
                    <p></p>
                    <div class="btn btn-border btn-small">
                        <span></span>
                        <svg class="btn-icon-right" viewBox="0 0 13 9" width="13" height="9"><use xlink:href="assets/img/sprite.svg#arrow-right"></use></svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</a>
{% endblock %}
